.button{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: red;
}

.img1{
   height: 50px;
   width: 50px;
   padding-bottom: 20px;
}

.img2{
    height: 50px;
    width: 50px;
    padding-bottom: 20px;
 }