.box{
    display: inline-block;
    height: 120px;
    width: 100px;
    margin: 10px;
    border: 1px solid black;
    background-color: yellow;
}
.wrapper{
    height: 1600px;
    width: 900px;
    border: 1px solid black ;
    background-color: green;
}
#cc{
    position: fixed;
}