.container{
    border: 1px solid black;
    background-color: aqua;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content:center;
    align-items: center;

}
.box{
    border: 1px solid black;
    background-color: yellow;
    height: 200px;
    width: 300px;
    /* transition: 2s; */
    /* transition-property: background-color;
    transition-delay:5s; */

    /* transition:background-color; */

    /* transition: transform 4s ease 0.5s; */
    /* transition: transform 3s ease-in; */
     transition-property: transform;
     transition-duration: 3s;
     transition-timing-function: ease;
     transition-delay: 1s;

}
.box:hover{
    background-color: brown;
    /* box-shadow: rebeccapurple 2px 2px; */
    /* transform: rotate(45deg); */
    /* font-size: 70px; */
    
    transform: translateX(600px) rotate(360);
   
}